
<div class="text-center m-5 md-font">Meet Our Team</div>
<div class="row" style="margin: 2rem;">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center">
            <div class="card bg-color card-class">
                <div class="card-body">
                    <h5><img src="assets/h1.jpeg"></h5>
                    <p class="card-text p auto-size color">Avan Jogia</p>
                    <span>Joel has over 20 years of sales and business management experience from successfully managing Apex Wireless, all before becoming the Director of Business Development for the company in 2017</span>
    
                </div>
                
            </div>
        </div>
    
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center">
            <div class="card bg-color card-class">
                <div class="card-body">
                    <h5><img src="assets/h2.jpeg"></h5>
    
                    <p class="card-text p  auto-size color">Imran Abbas</p>
                    <span>Our hands-on Chief Creative Officer and client-focused creative first got into the field with his love for videos. With a degree from Capilano’s Motion Picture Arts program, experience working in sales, producing award-winning feature films.</span>
                </div>
                
            </div>
        </div>
    
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-center">
            <div class="card bg-color card-class">
                <div class="card-body">
                    <h5><img src="assets/h3.jpeg"></h5>
                    <p class="card-text p auto-size color">Chris Hamsworth</p>
                    <span>Leland has over 20 years in digital marketing experience working both for a large retail operation with over 150 locations as a digital marketing specialist managing and conceptualizing their digital shopper marketing program .</span>
    
                </div>
                
            </div>
        </div>
        
    
    </div>
    <!--Section: Contact v.2-->
    <div class="card bg-color card-class1 m-5 margin-class">
<section class="mb-4 m-3">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4 md-font">Contact us</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
            a matter of hours to help you.</p>
    
        <div class="row">
    
            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="mail.php" method="POST">
    
                    <div class="row">
    
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="name" name="name" class="form-control">
                                <label for="name" class="">Your name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <input type="text" id="email" name="email" class="form-control">
                                <label for="email" class="">Your email</label>
                            </div>
                        </div>
    
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <input type="text" id="subject" name="subject" class="form-control">
                                <label for="subject" class="">Subject</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
    
                        <div class="col-md-12">
    
                            <div class="md-form">
                                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                <label for="message">Your message</label>
                            </div>
    
                        </div>
                    </div>
    
                </form>
    
                <div class="text-center text-md-left">
                        <button type="button" class="btn btn-primary  btn-lg  btn-cl">Send</button>

                </div>
                <div class="status"></div>
            </div>
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><i class="fa fa-map-marker"></i>
                        <p>Bhanger Khera (Punjab), India</p>
                    </li>
    
                    <li><i class="fa fa-phone"></i>
                        <p>+ 91 8427741805</p>
                    </li>
    
                    <li><i class="fa fa-envelope"></i>
                        <p>Pawanarora2580@gmail.com</p>
                    </li>
                </ul>
            </div>
    
        </div>
    
    </section>
</div>