<div class="container-fluid">
    <div class="card card-class">
        <p>Login in Vrishti</p>
        <div class="row">
            <div class="col-lg-12  col-xs-12 col-md-12 col-sm-12">
                    <div class="card-body">
                            <p class="error-class"*ngIf="errorMsg">{{errorMsg}}</p>

                            <input type="email" class="form-control" placeholder="E-Mail" [(ngModel)]="email" email="true">
                            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
                    </div>
            </div>
        </div>
        <div class="card-footer text-muted">
                <button type="button" class="btn btn-primary  btn-lg btn-block btn-cl" (click)="submitClick()">Login</button>
              </div>
    </div>
    </div>