
<div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand logo color" href="#">Vrishti</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto justify-content-end width-class ">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item active"  *ngIf="userInfo && userInfo?.username">
                <a class="nav-link" href="gallery">Gallery</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item dropdown" *ngIf="userInfo && userInfo?.username">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{userInfo?.username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="position: sticky;">
                  <a class="dropdown-item"  (click)="logOut()">Logout</a>
                  
                </div>
              </li>
            <li class="nav-item" *ngIf="!userInfo && !userInfo?.username">
              <a class="nav-link" href="login">Login</a>
            </li>
            <!-- <li class="nav-item" *ngIf="userInfo && userInfo?.username">
                <a class="nav-link">Logout</a>
              </li> -->
          </ul>
       
        </div>
      </nav>
      
</div>
<router-outlet></router-outlet>
<footer class="text-center text-white" style="background-color: #efefef;">
    <div class="container pt-1">
        <section class="mb-1">
            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com/arora.saab.37669/" role="button"
                data-mdb-ripple-color="dark"><i class="fa fa-facebook-official color"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/er.pawan_arora/" role="button"
                data-mdb-ripple-color="dark"><i class="fa fa-instagram color"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://twitter.com/PawanKu90121379" role="button"
                data-mdb-ripple-color="dark"><i class="fa fa-twitter-square color" ></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                data-mdb-ripple-color="dark"><i class="fa fa-google-plus-official color"></i></a>

            <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.linkedin.com/in/arora-pawan-9a8a41151/" role="button"
                data-mdb-ripple-color="dark"><i class="fa fa-linkedin color" ></i></a>
           
        </section>
    </div>
    <div class="text-center color p-1">
        © 2021 Copyright:
        <a class="color">Vrishti</a>
    </div>
</footer> 
