<div class="container-fluid">
  
        <div class="row">
                <img src="assets/01.jpg" class="img-class">
               
        </div>
            <div class="flex-class">
                <div class="award">A HIGHLY AWARDED PERFORMANCE BASE COMPANY</div>
                <div class="primary-header">Find clarity in Vrishti</div>
              <div class="secondary-header">Let's build you the top digital marketing program in your space.</div>
              <button type="button" class="btn btn-primary  btn-lg subscribe-btn btn-cl" *ngIf="!userInfo">Subscribe Now </button>

          </div>
    
<!-- Carousel wrapper -->
<p class="text-center md-font mt-4">OUR SERVICES PREMIER DIGITAL MARKETING SOLUTIONS</p>


<div class="row" style="margin: 2rem;">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center">
            <div class="card bg-color card-class">
                <div class="card-body">
                    <h5><i class="fa  fa-heartbeat white-color" aria-hidden="true"></i></h5>
                    <p class="card-text  auto-size color">Earned Media</p>
                    <span>Search Engine Optimization
                            Social Media Marketing
                            Digital PR
                            Conversion Rate Optimization (CRO)
                            Amazon Marketing.</span>
    
                </div>
                <div class="card-footer text-muted">
                        <button type="button" class="btn btn-outline color btn-lg btn-block">View Services</button>
                      </div>
            </div>
        </div>
    
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center">
            <div class="card bg-color card-class">
                <div class="card-body">
                    <h5><i class="fa fa-signal white-color" aria-hidden="true"></i></h5>
    
                    <p class="card-text  auto-size color">Paid Media</p>
                    <span>Paid Search Management
                            Google Display Advertising
                            Paid Social Advertising
                            Offline Conversion Tracking
                            Media Buys
                            Conversion Rate Optimization (CRO).</span>
                </div>
                <div class="card-footer text-muted">
                        <button type="button" class="btn btn-outline color btn-lg btn-block">View Services</button>
                      </div>
            </div>
        </div>
    
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center">
            <div class="card bg-color card-class">
                <div class="card-body">
                    <h5><i class="fa fa-envelope  white-color" aria-hidden="true"></i></h5>
                    <p class="card-text  auto-size color">Email Marketing</p>
                    <span>Full-Service Management
                            Comprehensive Strategy & Continuous Innovation
                            Experienced In-House Content & Design Teams
                           
                            Analysis & Optimization Opportunities.</span>
    
                </div>
                <div class="card-footer text-muted">
                        <button type="button" class="btn btn-outline color btn-lg btn-block">View Services</button>
                      </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 text-center">
            <div class="card bg-color card-class">
                <div class="card-body">
                    <h5><i class="fa fa-amazon  white-color" aria-hidden="true"></i></h5>
                    <p class="card-text  auto-size color">Amazon Marketing</p>
                    <span>Amazon Ad Console Management
                            Amazon DSP Management
                            Amazon Reporting
                            Amazon Listing Updates and Optimizations.</span>
    
                </div>
                <div class="card-footer text-muted">
                        <button type="button" class="btn btn-outline color btn-lg btn-block">View Services</button>
                      </div>
            </div>
        </div>
    
    </div>
   
  
    <p class="text-center md-font mt-5">WHAT WILL YOUR SUCCESS LOOK LIKE?</p>

    <div class="card card-class1">
        <div class="card-body">
            <div class="row">
                <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4 text-center">
                    <div class="revenue">70%</div>
                    <div class="md-font">Increased Conversion Rates</div>
                    <span>with one conversion rate optimization strategy</span>

                    <div class="card-footer text-muted">
                            <button type="button" class="btn btn-primary  btn-lg  btn-cl">Details</button>

                          </div>
                </div>
                <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4 text-center">
                        <div class="revenue">90%</div>
                        <div class=" md-font">Increased Traffic</div>
                        <span>through a targeted social media campaign</span>
                        <div class="card-footer text-muted">
                                <button type="button" class="btn btn-primary  btn-lg  btn-cl">Details</button>
                              </div>
                    </div>
                    <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4 text-center">
                            <div class="revenue">78%</div>
                            <div class="md-font">Increased Revenue</div>
                            <span>through combined SEO and viral marketing</span>
                            <div class="card-footer text-muted">
                                    <button type="button" class="btn btn-primary  btn-lg  btn-cl">Details</button>
                                  </div>
                        </div>
            </div>
        </div>
    </div>
    <p class="text-center md-font mt-5">REQUEST A FREE CONSULTATION</p>
    <div class="row m-2">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div class="card">
                        <img class="card-img-top" src="assets/c1.jpeg" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text text-center">Industry-Leading Expert Staff.</p>
                        </div>
                      </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div class="card">
                        <img class="card-img-top" src="assets/c2.jpeg" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text text-center">Award-Winning Work.</p>
                        </div>
                      </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div class="card">
                        <img class="card-img-top" src="assets/c4.jpeg" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text text-center">We Are a Customer Focused Organization.</p>
                        </div>
                      </div>
        </div>
    </div>
    <p class="text-center md-font mt-5">OUR CLIENTS LOVE US!</p>
    <p class="review">
            <i class="fa fa-quote-left" aria-hidden="true"></i>

            Vrishti  has been a valued partner for BTO Sports for a number of years. They have helped us with SEO, social media and conversion rate optimization and we always look forward to our strategy sessions each week
            <i class="fa fa-quote-right" aria-hidden="true"></i><br>
        <span class="client">Pawan Kumar</span>
        </p>
        
  